<div class="flex flex-col flex-grow rounded-xl bg-charcoal w-full shadow lg:max-w-2xl p-4 space-y-4">
  <div class="flex flex-row items-center">
    <Euros::FixtureList::Fixture::TeamName @team={{@fixture.homeTeam}} class="text-left -ml-2" />
    <div class="flex flex-col flex-grow text-center text-gray-300">
      vs
    </div>
    <Euros::FixtureList::Fixture::TeamName @team={{@fixture.awayTeam}} class="text-right flex-row-reverse -mr-2" />
  </div>
  <div class="flex flex-row items-center">
    <Euros::FixtureList::Fixture::Avatars @countryCode={{@fixture.homeTeam.countryCode}} class="justify-start" />
    <div class="flex flex-col items-center w-1/3">
      <div class="text-gray-400 uppercase font-light text-lg text-center">
        {{moment-format @fixture.kickOffTime.dateTime 'ddd MMMM DD'}}<br>
        {{moment-format @fixture.kickOffTime.dateTime 'HH:mm'}}
      </div>
    </div>
    <Euros::FixtureList::Fixture::Avatars @countryCode={{@fixture.awayTeam.countryCode}} class="justify-end" />
  </div>
</div>
