<tr class="text-white text-lg {{if (eq @index 0) 'bg-green-900'}} {{if (eq (inc @index) @totalRows) 'bg-red-900'}} bg-opacity-30">
  <td>
    <div class="flex flex-row space-x-2 items-center p-2 pl-4 fit-content">
      <img src="/assets/{{@standing.player.image}}" class="inline-block h-6 w-6 rounded-full ring-2 ring-white" title={{@standing.player.name}}/>
      <div class="uppercase">{{@standing.player.name}}</div>
    </div>
  </td>
  <td>
    <div class="flex flex-row space-x-1 lg:space-x-2 items-center flex-shrink-0 fit-content">
      {{#each @standing.player.teams as |countryCode|}}
        <img src="/assets/svg/flags/{{countryCode}}.svg" class="h-4 lg:h-6 rounded-sm"/>
      {{/each}}
    </div>
  </td>
  <td class="p-1 lg:p-2">{{@standing.played}}</td>
  <td class="p-1 lg:p-2">{{@standing.won}}</td>
  <td class="p-1 lg:p-2">{{@standing.drawn}}</td>
  <td class="p-1 lg:p-2">{{@standing.lost}}</td>
  <td class="p-1 lg:p-2 hidden lg:block">{{@standing.goalsFor}}</td>
  <td class="p-1 lg:p-2">{{@standing.goalDifference}}</td>
  <td class="p-1 lg:p-2 pr-4">{{@standing.points}}</td>
</tr>